MONGODB_URI = mongodb+srv://nguyenkhoadang6123:khoa123@test-mern.yhf2a.mongodb.net/?retryWrites=true&w=majority&appName=test-mern
TOKEN_SECRET_KEY = asdfgagasdoeitupqituweiewotuewitouw
FRONTEND_URL = http://localhost:3000